<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mnsoft.navi">
    <application
        android:label="Navi System"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">

        <activity
            android:name=".NaviApp"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
